<h4>Add new ingredient</h4>

<form action="/action_page.php">
    <label for="name"><b>Ingredient Name</b></label>
    <input type="text" placeholder="Name" name="name" required>

    <label for="type">Ingredient Type</label>
    <select id="type" name="type">
        <option value="Base">Base</option>
        <option value="Protein">Protein</option>
        <option value="Vegetable">Vegetable</option>
    </select>

    <input type="file" id="myFile" name="image">
    <input type="submit">

</form>
